/* .sightingCardContainer {
  height: 360px;
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-radius: 10px;
  box-shadow: 0 0 1px 1px
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
} */
