.mainContentContainer {
  position: absolute;
  top: 0;
  left: 93px;
  height: 100%;
  width: calc(100% - 93px);
  overflow: hidden;
}

.absoluteRightTop {
  position: absolute;
  top: 10px;
  left: calc(100% - 10px);
  transform: translateX(-100%);
}

.whiteShadow {
  box-shadow: 0 0 1px 1px var(--mantine-color-gray-0);
}

.flexCenter {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexHorizontal {
  flex-direction: row;
}

.flexChild1 {
  flex: 1;
}
.alighRight {
  float: right; /* or use other CSS properties for alignment */
}

.marginTopBottom {
  margin-top: 10px;
  margin-bottom: 10px;
}

.placeholder {
  background-color: grey;
}

.flexHorizontal {
  flex-direction: row;
}
